services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: product_cinema
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 372408
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    restart: always

  backend:
    image: docker.io/nhanbackend2004/cinema_backend:latest
    restart: always
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

volumes:
  postgres_data: